.header{
    background-image: linear-gradient(#72da10,#f5f523);
    background-size: 50px;
    justify-content: space-between;
}

.menu{
    background-color: #ffa500;
    
}

h2{
    text-align: center;
    color:#590e7c;
}

h1{
    text-align: center;
    color: #b60d0d;
}

.item image{
    border-color:#000000;
}

.item p b{
    color: #008000;
}






